/* SASS variables: */
/* ------------------- */
html,
body {
  width: 100%;
  height: 100%; }

body {
  margin-top: 10px;
  position: relative; }

.slide-menu {
  background: #444;
  box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.25) inset;
  width: 150px;
  height: 100%;
  position: absolute;
  border-right: 1px solid black; }
  .slide-menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .slide-menu ul li a {
      text-decoration: none;
      font-weight: bold;
      color: #fefefe;
      display: block;
      padding: .5em 1em .5em .25em;
      margin-bottom: 1px;
      text-align: right; }
      .slide-menu ul li a:hover {
        background: rgba(255, 255, 255, 0.15); }

.handle {
  width: 100%;
  position: relative;
  height: 3rem;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.25);
  cursor: pointer; }
  .handle:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-size: 25% 4px; }
  .handle:after {
    content: "\2261";
    position: absolute;
    left: 20px;
    display: table-cell;
    line-height: 3rem;
    color: rgba(0, 0, 0, 0.5); }
  .handle:hover:after {
    color: black; }

.content {
  padding: 0 1em; }
